<link rel="stylesheet" href="/css/style.css" type="text/css">
    
    <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../../partials/navbar.ejs') %>
 
    <!--The navagation bar ends here-->
    
    <!--About pg starts here-->
    <p>This page was created during when I was learning Javascript. I'm still struggling 
    with Javascript. When I first started learning Javascript, I found myself
    struggling reading through materials from the web. Don't get me wrong! There 
    are tons of information on the web. But my hope is this page could be your guide 
    when you are starting out to learn javascript. 
    </p>

    <!--About pg ends here-->

    <script src = "/js/script.js"></script>   
</body>
</html>