<link rel="stylesheet" href="/css/style.css" type="text/css">

   <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../../partials/navbar.ejs') %>
 
    <!--The navagation bar ends here-->

    <p>Thank you for contacting us. We will get back to you soon.</p>
    <a href="/">Home</a>

    
</body>
</html>
