<link rel="stylesheet" href="/css/style.css" type="text/css">

   <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../../partials/navbar.ejs') %>
 
    <!--The navagation bar ends here-->

    <!--Error msg starts here-->

    <p>Sorry, the topic is not available. If you want to learn about this topic, please contact us.</p>
    <!-- <a href="/contact">Contact Us!</a> -->

    <!--Error msg starts here-->
  
</body>
</html>



