<link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../../partials/navbar.ejs') %>

    <!--The navagation bar ends here-->
    
    <!--login starts here-->
    <div class="login">
        <form id = "login_form" action="/add" method="POST" target="_blank">
        <input type="text" name="username" id="username" placeholder= "Username">
        <br>
        <input type="text" name="password" id="password" value="" placeholder= "Password">
        <br>
        <input type="checkbox" onclick="Toggle()"><b>Show Password</b>
        <button id="submit" class='btn btn-primary btn-large'>Submit</button>
        <h5>Don't have an account?</h5><a href="signup">Sign Up</a></br>
        <a href="#">Forgot Password?</a>
    </form>
    <div id='error'>
    </div>
   <!-- login ends here-->

    <script src = "/js/login.js"></script>   
</body>
</html>