<link rel="stylesheet" href="/css/style.css" type="text/css">

   <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../../partials/navbar.ejs') %>
 
    <!--The navagation bar ends here-->

    <div class="signup">
        <form id = "signup_form" action="/add" method="POST" target="_blank">
        <input type="text" name="username" id="signupnewuser" placeholder= "Username">
        <br>
        <input type="text" name="Email Address" id="emailforsignup" placeholder="Email Address">
        <br>
        <input type="text" name="Password" id="pwdforsignup" placeholder="Password">
        <br>
        <!-- <input type="checkbox" onclick="Toggle()"><b>Show Password</b> -->
        <input type="text" name="Password" id="pwdconfirmforsignup" placeholder= "Confirm Password">
        <br>
        <input type="checkbox" onclick="Toggle()"><b>Show Password</b>
        <h4>Already a member?</h4>
        <a href="/login">Login</a></br>
        <button id="signup_submit" class='btn btn-primary btn-large'>Submit</button> 
    </form>
        <div id='error'>
    </div>

    <script src = "/js/signup.js"></script>   
</body>
</html>