    <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../../partials/navbar.ejs') %>    
    <!--The navagation bar ends here--> 
    <script src="/js/advanced/script_advthirtymins.js"></script>
</body>

</html>
