<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Learn!</title>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../../partials/navbar.ejs') %>    
    <!--The navagation bar ends here--> 

    <!--Learning time buttons start here-->
    <h2>I want to make sure you can get the most out of the lessons.
        Click on any of the buttons timeframe to get your lesson started.
    </h2>

    <div>
        <button type="button" onClick="location.href='/advancedHTML'" 
        class="minsbyminsLearning" id="tenmins">10 Minutes Learning</button>
    </div>

    <div>
        <button type="button" onClick="location.href='/20minsadvanced'" 
        class="minsbyminsLearning" id="twentymins">20 Minutes Learning</button>
    </div>

    <div>
        <button type="button" onClick="location.href='/30minsadvanced'" 
        class="minsbyminsLearning" id="thirtymins">30 Minutes Learning</button>
    </div>

    <!--Learning time buttons start here-->


 

    <script src = "/js/advanced/script_advtenmins.js"></script>   
</body>
</html>