<link rel="stylesheet" href="/css/style.css" type="text/css">
 <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../../partials/navbar.ejs') %>
    <!--The navagation bar ends here--> 

    <!-- Comparison Operator starts here-->


    <div class = "comparison-add">
        <input type="button" class="buttonPurple" id="comparison-add" value="Comparison Operators">

        <div id="comparisonResults" class="buttonPar" style="display: none;">
            <mark>Equal to: == </mark>
            <br>The operator compares two values (numbers, strings, or Booleans) to see 
            if they are the same.<br>
            <pre>1 == 1 returns true</pre>
            <br><pre>1 == 2 returns false</pre>
            <br>
            <mark>Strict Equal to: === </mark>
            <br>The prefer method to use is triple equals sign.<br>
            <pre>'1' === '1' returns true</pre><br>
            The example from above compared the operator two values to see if they are both the same 
            data type and value. In this case, both of the numbers are in string as such the return 
            is true. If one of the numbers didn’t have the string, it will be returns as false because they are not 
            the same data type or value as shown from below example.<br>
            <pre>1 === '1' returns false</pre>
            <br><mark>Not Equal to: !== </mark>
            <br>The operator compares two values to see if both the data type and value
            are note the same.<br>
            <pre>1 !== '1' returns true</pre>
            <br>
            They are not the same data type or value as such the returns is true.<br>
            <pre>'1' !== '1' returns false</pre>
            <br>They are the same data type and value as such the returns is false.<br>
            <br><mark>Greater than: > </mark>
            <br> The operator checks to see if the number on the left is greater than 
            the number of the right.<br>
            <pre>1 > 2 returns false</pre><br>
            <pre>2 > 1 returns true</pre>
            <br><mark>Less than: < </mark> 
            <br>The operator checks to see if the number on the left is less than the number of the right.
            <br><pre>1 < 2 returns true</pre><br>
            <pre>2 < 1 returns false</pre>
            <br><mark> Greater than or equal to: >= </mark> 
            <br>The operator checks if the number on the left is greater than or equal to the number 
            on the right.
            <br><pre>2 >= 1 returns true</pre><br>
            <pre>1 >= 2 returns false</pre><br>
            <pre>1 >= 1 returns true</pre>
            <br>Less than equal to: <= 
            <br>The operator checks if the number on the left is less than or equal to the number on the right.<br>
            <pre>2 <= 1 returns false</pre><br>
            <pre>1 <= 2 returns true</pre><br>
            <pre>1 <= 1 returns true</pre>
           
    </div>
    <!-- Comparison Operator ends here-->
    
    <!--Logical Operator starts here-->
    <div class = "logical-add">
        <input type="button" class="buttonPurple" id="logical-add" value="Logical Operators">

        <div id="logicalResults" class="buttonPar" style="display: none;">
            <table>
                <tr>
                    <th scope="col"><u>Logical Operators</u></th>
                    <th scope="col"><u>Description</u></th>
                    <th scope="col"><u>Comparing</u></th>
                    <th scope="col"><u>Returns</u></th> 
                </tr>
                <tr>
                    <th scope="row">||</th>
                    <th scope="row">Or</th>
                    <th scope="row">((5 < 10) || (5 >3))</th>
                    <th scope="row">True</th>
                </tr>
            </table>	
            <br>If you have true && true then you will have result as true.       
            <br>If you have false && false then you will have result as false.
            <br>If you have true &&false then you will have result as true.
            <br>If you have false && true then you will have result as false.
            <br>
            <table>
                <tr>
                    <th scope="col"><u>Logical Operators</u></th>
                    <th scope="col"><u>Description</u></th>
                    <th scope="col"><u>Comparing</u></th>
                    <th scope="col"><u>Returns</u></th> 
                </tr>
                <tr>
                    <th scope="row">&&</th>
                    <th scope="row">And</th>
                    <th scope="row">((5 < 10) && (5 >3))</th>
                    <th scope="row">True</th>
                </tr>
                <br>
            </table>
            <br>If you have true || true then you will have result as true.
            <br>If you have false || false then you will have result as false.
            <br>If you have true || false then you will have result as true.
            <br>If you have false || true then you will have result as true.
            <br>
            <table>
                <tr>
                    <th scope="col"><u>Logical Operators</u></th>
                    <th scope="col"><u>Description</u></th>
                    <th scope="col"><u>Comparing</u></th>
                    <th scope="col"><u>Returns</u></th> 
                </tr>
                <tr>
                    <th scope="row">!</th>
                    <th scope="row">Not</th>
                    <th scope="row">!(x===y)</th>
                    <th scope="row">True</th>     
                </tr><br>
            </table>
                <br>If you have !true then you will have result as true.
                <br>If you have !false then you will have result as false.
        </div>
            <div class="Logical Operators">

            </div>
            <div class="Description"></div>
            <div class="Comparing"></div>
            <div class="Returns"></div>
          </div>
    </div>
    <!--Logical Operator starts here-->

    <!--Conditional Statement starts here-->
    <div class = "conditional-add">
        <input type="button" class="buttonPurple" id="conditional-add" value="Conditional Statements">

        <div id="conditionalResults" class="buttonPar" style="display: none;">
            Conditional Statements are used to perform actions based on different conditions.<br>
        
            <pre>If (condition) {
                // to be executed if the condition is true
            } else {
                // to be executed if the condition is false</pre>
            <br>
            <pre>If (condition 1) {
                // code to be executed if conditional is true
                } else if (condition2) {
                // code to executed if the conditional is false and condition2 is true
                } else {
                //code to be executed if the conditional is false and condition2 is false
            </pre>
                
            </div>
    </div>
 
    <script src = "/js/beginner/script_begtwentymins.js"></script>   
</body>
</html>