<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Learn!</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../../partials/navbar.ejs') %>
    <!--The navagation bar ends here--> 

    <!-- Comparison Operator starts here-->
    <div class = "comparison-add">
        <input type="button" class="buttonPurple" id="comparison-add" value="Comparison Operators">

        <!-- <p class = "emptyComparison"></p> -->
        <div id="comparisonResults" class="buttonPar" style="display: none;">
            <table></table>
            <pre>== Is Equal To (The operator compares two values (numbers, strings, or Booleans) to see if they are the same. 
            == 1 returns true
            1 == 2 returns false
            The prefer method to use is triple equals sign. 
            === strict equal to 
            '1' === '1' returns true
            In this example, the operator compares two values to see if they are both the same data type and value. In this case, both of the numbers are in string as such the return is true. If one of the numbers didn’t have the string, it will be returns as false because they are not the same data type or value.
            1 === '1' returns false
            !== not equal to (The operator compares two values to see if both the data type and value
            Are note the same.)
            1 !== '1' returns true
            They are not the same data type or value as such the returns is true. 
            '1' !== '1' returns false
            They are the same data type and value as such the returns is false. 
            	Greater than (The operator checks to see if the number on the left is greater than 
            the number of the right.)
            1 > 2 returns false
            2 > 1 returns true
            <  Less than (The operator checks to see if the number on the left is less than the number of the right.)
            1 < 2 returns true
            2 < 1 returns false
            >= Greater than or equal to (The operator checks if the number on the left is greater than or equal to the number on the right.)
            2 >= 1 returns true
            1 >= 2 returns false
            1 >=1 returns true
            <= Less than equal to (The operator checks if the number on the left is less than or equal to the number on the right.)
            2 <= 1 returns false
            1 <= 2 returns true
            1 <= 1 returns true
            </pre>

    </div>
    <!-- Comparison Operator ends here-->
    
    <!--Logical Operator starts here-->
    <div class = "logical-add">
        <input type="button" class="buttonPurple" id="logical-add" value="Logical Operators">

        <!-- <p class = "emptyLogical"></p> -->
        <div id="logicalResults" class="buttonPar" style="display: none;">
        <pre>Logical OperatorsDescription	 Comparing 	  Returns </pre>
                    && AND			((5 < 10) && (5 >3))		True	
        If you have true && true then you will have result as true       
        If you have false && false then you will have result as false
        If you have true &&false then you will have result as true
        If you have false && true then you will have result as false
        </div>

            <div class="Logical Operators">

            </div>
            <div class="Description"></div>
            <div class="Comparing"></div>
            <div class="Returns"></div>
          </div>
    </div>
    <!--Logical Operator starts here-->

    <!--Conditional Statement starts here-->
    <div class = "conditional-add">
        <input type="button" class="buttonPurple" id="conditional-add" value="Conditional Statements">

        <!-- <p class = "emptyConditional"></p> -->
        <div id="conditionalResults" class="buttonPar" style="display: none;">
        Testing 2</div>
    </div>
 
    <script src = "/js/beginner/script_begtwentymins.js"></script>   
</body>
</html>