<link rel="stylesheet" href="./css/style.css" type="text/css">

 <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../partials/navbar.ejs') %>

    <!--The navagation bar ends here--> 
    
    <!--Javascript link starts here-->

    <div>
        <button type="button" onClick="location.href='/javascript'" class="learningButtons" id="javascript"  value="Javascript"> What is Javascript? </button>     
    </div>
    <!--//note.. input got feature called focus.. when enter and show the square.-->
    
    <!--Javascript link ends here-->

    <!--Buttons link starts here-->
    
    <div class="begandint">
        <button type="button" onClick="location.href='/beginnerHTML'" class="begandint" id="beginner" value="Beginner">Beginner</button>

        <button type="button" onClick="location.href='/intermediateHTML'" class="begandint" id="intermediate" value="Intermediate">Intermediate</button>
    
    </div>
    <div class="advanced">
        <button type="button"onClick="location.href='/advancedHTML'" class="advanced" id="advanced" value="advanced">Advanced</button>   
    </div>

    <script src = "/js/search.js"></script>   
</body>

</html>

