 <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../partials/navbar.ejs') %>

    <!--The navagation bar ends here--> 
    
    <!--Javascript link starts here-->

    <div>
        <button type="button" onClick="location.href='/javascript'" class="learningButtons" id="javascript"  value="Javascript"> Javascript </button>     
    </div>
    <!--//note.. input got feature called focus.. when enter and show the square.-->
    
    <!--Javascript link ends here-->
    <!-- <h3>Pick the level you want to learn Javascript!</h3> -->
    <!--Buttons link starts here-->
    
    <div class="begandint">
        <button type="button" onClick="location.href='/beginnerHTML'" class="learningButtons" id="beginner" value="Beginner">Beginner</button>

        <button type="button" onClick="location.href='/intermediateHTML'" class="learningButtons" id="intermediate" value="Intermediate">Intermediate</button>

        <button type="button"onClick="location.href='/advancedHTML'" class="learningButtons" id="advanced" value="advanced">Advanced</button>
        
    </div>

    <script src = "/js/search.js"></script>   
</body>

</html>

