body{
	background-color:#A0A0A0;
	background-image: url("../images/antique.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0 0em;
}

h1{
	text-align: center;
	font-size: 50px;
	color: 	#FF4500;
	font-family: 'Dancing Script', cursive;
}

h2{
	font-size: 20px;
	font-family: 'Hind Siliguri', sans-serif;
	margin: 55px 0px 0px 55px;
}

img:hover{
	opacity: 0.6;
}

h6{
	font-size: 25px;
	margin: -190px 0px 0px 555px;
	font-family: 'Pacifico', cursive;
}

/* nav starts here */

nav {
	display: flex;
	justify-content: space-evenly;
	margin: 35px;	
}

nav > div {
	text-transform: uppercase;
	padding: 3px;
}

/* search div*/
nav > div:last-child{
	display: flex;
	align-items: center;
	margin: -20px;
	
}

a {
    color: #2D159F;
    margin-left: 25px;
	text-decoration: none; 
	margin: 30px 50px 0px 0px;
	font-weight: bold;
	font-size: 20px;
}

nav>div>a:hover {
	color: #DB1A20;
} 

/* nav ends here */

/*home pg learning buttons */

#javascript{
	align-items: center;
    margin: 50px 150px 0px 480px;      
	border-radius: 12px;
	font-family: 'Balsamiq Sans', cursive;
	justify-content: center;
	font-size: 2em;   
	height: auto;
	outline: none;
	border-radius: 12px;
}

/* diff learning levels' buttons starts here */
.begandint{
	display: flex;
	justify-content: space-between;
	margin: 50px 145px 0px 145px;
	border-radius: 12px;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.5em;   
	height: auto;
	outline: none;	
}

.advanced{
	align-items: center;
	margin: 20px 90px 0px 280px; 
	border-radius: 12px;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.5em;   
	height: auto;
	outline: none;
} 
mark{
	color: #16161c;
	background-color: #dfdfe6;
}

/*javascriptHTML css starts here*/

p{
	font-family: 'Balsamiq Sans', cursive;
	font-weight: bold;
	line-height: 50px;
	font-size: 20px;
	margin: 0px 35px;
}
li{
	font-family: 'Balsamiq Sans', cursive;
	font-weight: bold;
	line-height: 30px;
	font-size: 20px;
	margin: 10px 25px 0px 55px;
}

table{
	font-family: arial, sans-serif;
  	border-collapse: collapse;
  	width: 100%;
}

/*javascriptHTML css ends here*/

/*contactHTML css starts here*/
.contactContainer {
	border-radius: 5px;
	background-color: #E0E0E0;
	padding: 10px;
	margin: 0px 50px 0px 30px;
	width: 480px;
	height: 420px;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 2px;
	margin-bottom: 16px;
	resize: vertical;
}
  
input[type=submit] {
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#msgthankyou{
	height: 30px;
	width: 30px;
}
/*contactHTML css ends here*/

/*loginHTML css starts here*/
.login{
	margin: 55px 1100px 0px 55px;
}

.login a {
	text-decoration: none;
	font-size: 14px;
	line-height: 12px;
}

.login a:hover{
	color: blue;
}

/*signup css starts here*/
.signup{
	width: 200px;
	margin: 0px 25px 0px 55px;
}
/*loginHTML css ends here*/

/*minutes by minutes css starts here*/
.minsbyminsLearning{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	max-width: 300px;
	margin: 3rem 18rem 3rem;
	font-size: 24px;
	border-radius: 12px;
}

button {
	font-family: 'Balsamiq Sans', cursive;
	position: relative;
	margin: 1rem 18rem;
	padding: 1rem 2rem;
	font-size: 1rem;
	cursor: pointer;
}

/*minutes by minutes css ends here*/

/*beginnerHTML css starts here*/
.beginnerImage{
	margin: -260px 55px 0px 550px;	
}

pre{
	display: inline-block;
	border: 4px solid gray;
	font-size: 20px;
}

/** lesson topics CSS starts here*/
.buttonPurple{
	width: auto;
	height: 50px;
	border-radius: 15%;
	background-color:#b2ad7f;
	transition: all 200ms ease-out;
	font-family: 'Balsamiq Sans', cursive;
	margin: 50px 25px 0px 95px;
	font-size: 20px;
	
}
.buttonPar{
	margin: 20px 65px 0px 65px;
	font-size: 1.2em;
	font-weight: bold;
	border: 0.5px dotted;
	background-color: #ffffe5;
	opacity: 0.8;
	padding: 15px;
}

/** lesson topics CSS starts here*/

/*intermediateHTML css starts here*/
.imgIntermediate img{
	float: right;
	width: 300px;
	margin: 0px 280px 0px 150px;
}



