    <!--The navagation bar begins here-->
    <h1>Let's Learn!</h1>

    <%- include('../../partials/navbar.ejs') %>
    <!--The navagation bar ends here--> 


    
    <script src = "/js/intermediate/script_inttenmins.js"></script>   
</body>
</html>