<link rel="stylesheet" href="/css/style.css" type="text/css">
   <!--The navagation bar begins here-->
    <div class="main-content">
        <h1>Let's Learn!</h1>

        <%- include('../../partials/navbar.ejs') %>
        <!--The navagation bar ends here-->


    <script src = "/js/intermediate/script_intthirtymins.js"></script>   
</body>
</html>